@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HindMadurai";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("NotoSans"), url("fonts/HindMadurai-Regular.ttf") format("truetype");
}